

.menu-btn{
    background-color:#f25f3a ;
}
.ham-menu{
    width: 30px;
    height: 27px;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
@media screen and (min-width:768px){
    .ham-menu{
        display: none;
    }
    .features .feature .feature-title{
        background-color:white;
    }
    footer{
        background-color:#1d1e25;

    }
    

}

.ham-menu .bar{
    height: 2.5px;
    width: 28px;
    background-color: #1f1f1f;

}
.hero-content{
    align-items: center;
    justify-content: center;
}
.hero-content .hero-btn{
    /* color: #fafafa; */
    background-color:#f25f3a ;
}
.features .feature-title{
    background-color: #ffefeb;
}
.feature-title .number{
    background-color:#f25f3a;
}
/* .card .anishali{
    
} */
.feedback .hero-btn{
    background-color:#f25f3a;
}
.simplify{
    background-color:#f25f3a;
}
.simplify .hero-btn{
    background-color: #ffffff;
    color: #f25f3a;
}
footer{
    background-color: #1d1e25;
}
footer .form-btn{
    background-color:#f25f3a;

}
.list a:hover{
    color: #f25f3a;
}
